.headding {
  background-image: url(http://creativity103.com/collections/Paper/canvas_texture.jpg);
  border: solid 1px #8AABCC;
  width: 100%;
  height: 100%;
  padding-left: 2px;
  margin-top: 9px;
  box-shadow: 2px 2px #414141;
}

.general {
  background-image: url(http://3.bp.blogspot.com/_jFM-Fd8NDFE/TLhmRK1h8AI/AAAAAAAAKcU/NKNPe051PbA/s1600/OldCanvas-5.jpg);
  position: absolute;
  padding: 4px;
}

.buttons {
  border-radius: 10px 10px 0px 0px;
}

.home-page {
  width: 100%;
  height: 100%;
  padding: 12px;
  margin-top: 9px;
  margin-bottom: 250px;
  border: solid 1px #8AABCC;
  background-color: rgb(224, 216, 237);
  position: absoulte;
  text-align: center;
}

html, body {
  width: 100%;
}

.footerz {
  height: 175px;
  background-color: rgb(23, 31, 21);
  border: solid 1px #8AABCC;
  padding: 20px;
  margin-top: 9px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
