.headding {
  background-image: url(http://creativity103.com/collections/Paper/canvas_texture.jpg);
  border: solid 1px #8AABCC;
  width: 100%;
  height: 100%;
  margin: 3px;
  padding: 4px;
}

.general {
  background-image: url(http://3.bp.blogspot.com/_jFM-Fd8NDFE/TLhmRK1h8AI/AAAAAAAAKcU/NKNPe051PbA/s1600/OldCanvas-5.jpg);
  position: absolute;
  padding: 4px;
}
.buttons {
  border-radius: 10px 10px 0px 0px;
}
